<div>
  <app-navbar></app-navbar>
</div>
<div class="check1">
<div class="formcontrol">
  <header>
    <h4>Sign Up</h4>
  </header>
  <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
    <div class="form_wrapper">
      <input  type="text" formControlName="name" required >
      <label >Full Name</label>
      <i class="material-icons">name</i>
    </div>
    <div class="form_wrapper">
      <input type="email" formControlName="email" required>
      <label >Email</label>
      <i class="material-icons">email</i>
    </div>
    <div class="form_wrapper">
      <input type="password" formControlName="password" required>
      <label >Password</label>
      <i class="material-icons">lock</i>
    </div>
    <div class="form_wrapper">
      <input   type="password" formControlName="password1" required>
      <label >Confirm Password</label>
      <i class="material-icons">lock</i>
    </div>
    <button type="submit">Submit</button>
    <div class="new_account">
      Back to Login ? <a routerLink="/login" routerLinkActive="active">Login</a>
    </div>
  </form>
</div>
</div>