/* styles.css or your component-specific CSS */

.account-creation-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
  }
  
  .account-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  
  .form-group {
    flex: 1;
    margin-right: 15px;
  }
  
  .form-group:last-child {
    margin-right: 0;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
  }
  
  .form-group input,
  .form-group textarea,
  .form-group select {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .photo-upload {
    flex: 2; /* Make the photo upload field larger */
    text-align: center;
  }
  
  .photo-upload label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
  }
  
  .photo-upload input {
    display: block;
    margin: 0 auto 10px auto;
  }
  
  .photo-preview {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    border: 2px solid #ddd;
    border-radius: 4px;
  }
  
  .submit-btn {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #327; /* Match the navbar color */
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
  }
  .btn{
    display: flex;
    gap: 20px;
  }
  .submit-btn:hover {
    background-color: #285a80; /* Slightly darker shade */
  }
  .submit-btn-cn{
    background-color: #3c3c3d;
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }