<div>
  <app-navbar></app-navbar>
</div>
<div class="check1">
<div class="formcontrol">
  <header>
    <h4>Login</h4>
  </header>
  <form>
    <div class="form_wrapper">
      <input id="input" type="text" required>
      <label for="input">Email</label>
      <i class="material-icons">email</i>
    </div>
    <div class="form_wrapper">
      <input id="password" type="password" required>
      <label for="password">Password</label>
      <i class="material-icons">lock</i>
    </div>
    <div class="remember_box">
      <div class="remember">
        <input type="checkbox">
        Remember me
      </div>
      <a routerLink="/reset" routerLinkActive="active">Forgot Password ?</a>
    </div>
    <button>Login</button>
    <div class="new_account">
      Don't have account ? <a routerLink="/signup" routerLinkActive="active">Sign up</a>
    </div>
  </form>
</div>
</div>
<router-outlet/>
