<app-navbar></app-navbar>

<div class="welcome">
    <h1>Welcome to Your Banking Dashboard</h1>
    <p>Manage your accounts, make transfers, and more.</p>
    <button (click)="navigateToProfile()">Manage Profile Details</button> 
  </div>
  
  <div class="create-account">
    <!-- <h2>Start Your Savings Journey</h2>
    <p>Open a savings account today and start saving for your future.</p>
    <button onclick="window.location.href='create-savings.html'">Create a Savings Account</button> -->
  </div>
  
  <div class="features">
    <div class="feature-box">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQItJhpNC2cFC1JZyEvLUCrHp0VXv-f8c12RQ&s" alt="Savings Icon" class="icon-image">
        <h3>Savings Accounts</h3>
        <p>Manage your savings and plan for the future with our flexible savings accounts.</p>
    </div>
    <div class="feature-box">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRAQ7DinLKywcU0VUxbB6CXnMo1xVcv1jZyAw&s" alt="Credit Icon" class="icon-image">
        <h3>Credit Services</h3>
        <p>Explore our range of credit services designed to meet your financial needs.</p>
    </div>
    <div class="feature-box" onclick="window.location.href='https://wa.me/8932906693'">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR13HUAnJxZA_NhkLvR_U0Ce2SuRjAXdfQ7RA&s" alt="Support Icon"class="icon-image">
        <h3>Customer Support</h3>
        <p>Need help? Our support team is here to assist you with any queries.</p>
    </div>
  </div>