<div>
  <app-navbar></app-navbar>
</div>
<div class="check1">
<div class="formcontrol">
  <header>
    <h4>Reset Password</h4>
  </header>
  <form>
    <div class="form_wrapper">
      <input id="input" type="email" required>
      <label for="input">Email</label>
      <i class="material-icons">email</i>
    </div>
    <div class="form_wrapper">
      <input id="password" type="password" required>
      <label for="password">New Password</label>
      <i class="material-icons">lock</i>
    </div>
    <div class="form_wrapper">
      <input id="password" type="password" required>
      <label for="password">Confirm Password</label>
      <i class="material-icons">lock</i>
    </div>
    <button>Submit</button>
    <div class="new_account">
      Back to Login ? <a routerLink="/login" routerLinkActive="active">Login</a>
    </div>
  </form>
</div>
</div>