<div>
  <app-navbar></app-navbar>
</div>
<div class="check1">
<div class="formcontrol">
  <header>
    <h4>Reset Password</h4>
  </header>
  <form  [formGroup]="forgotPasswordForm" (ngSubmit)="submit()">
    <div class="form_wrapper">
      <input id="email" type="email" formControlName="email" required>
      <label for="input">Email</label>
    </div>
    <!-- <div class="form_wrapper">
      <input id="password" type="password" required>
      <label for="password">New Password</label>
      <i class="material-icons">lock</i>
    </div>
    <div class="form_wrapper">
      <input id="password" type="password" required>
      <label for="password">Confirm Password</label>
      <i class="material-icons">lock</i>
    </div> -->
    <button type="submit" >Send Reset Email</button>
    <div class="new_account">
      Back to Login ? <a routerLink="/login" routerLinkActive="active">Login</a>
    </div>
  </form>
</div>
</div>